html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul[class]{
    list-style: none;
}
a[class]{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #fff;
    /* .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
      } */
      
}
.container{
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.title-subtitle-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.title {
    margin-top: 10px;
    color: rgb(11, 27, 53);
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 28.5px;
    text-transform: capitalize;
}
.subtitle {
    color: rgb(138, 137, 142);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
/* section header starts */
.header {
    margin-top: 48px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 114px;
    font-family: "Roboto", sans-serif;
    color: #000;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
}
.menu__item {
}
.menu__link {
    font-weight: 500;
    font-style: normal;
    transition: all .4s ease;
}
.menu__link:hover{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.login-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 22px;
}
.login-block{
    flex-grow: 1;
}
.login-block .login-block__item:nth-child(2){
    padding: 10px 30px;
    background-color: #FF6600;
    border-radius: 10px;
    color: #fff;
}
/* section header ends */

/* section service starts */

.service {
    margin-top: 82px;
}
.service__inner {
}
.service__cards {
    margin-top: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 57px;
}
.service__card {
    padding: 30px 36px 45px 36px;
    background-color: #fff;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0px 2.77px 2.21px 0 rgba(0, 0, 0, 0.02),
                0px 6.65px 5.32px 0 rgba(0, 0, 0, 0.03),
                0px 12.52px 10.02px 0 rgba(0, 0, 0, 0.04),
                0px 22.34px 17.87px 0 rgba(0, 0, 0, 0.04),
                0px 41.78px 33.42px 0 rgba(0, 0, 0, 0.05),
                0px 100px 80px 0 rgba(0, 0, 0, 0.07);
    }
.service__card-img {
    max-width: 76px;
    height: 76px;
}
.service__card-title {
    margin-top: 41px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 28.5px;
}
.service__card-text {
    margin-top: 32px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.5px;
}
.service .service__card-link {
    margin-top: 72px;
    display: inline-block;
    padding: 11px 36px;
    background-color: #FF6600;
    color: #fff;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.5px;
}

/* section service ends */

/* section testimonials starts */

.testimonials {
    margin-top: 146px;
}
.testimonials__inner {
    padding: 0 100px;
}
.testmonials__items {
    margin-top: 136px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    font-family: "Roboto", sans-serif;
    color: #000;
}
.testimonials__item {
    padding: 35px 28px 23px 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0 30px;
    max-width: 470px;
}
.testimonials__item-img {
    border-radius: 10px;
    max-width: 70px;
    height: auto;
}
.testimonials__item-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 179px;
    flex-basis: 307px;

}
.testimonials__item-author {
    color: rgb(11, 27, 53);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    opacity: 0.3;
}
.testimonials__item-text {
    color: rgb(11, 27, 53);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

/* section testimonials ends */

/* section team starts */

.team {
    margin-top: 142px;
}
.team__cards {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
}
.team__card {
    border: 2px solid #EBEAED;
    border-radius: 10px;
    padding-top: 50px;
    min-width: 370px;
    text-align: center;
}
.team__card-img {
    border: 50%;
    max-width: 120px;
    max-height: 120px;
}
.team__member {
    margin-top: 28px;
    font-family: "Roboto", sans-serif;
}
.team__member-name {
    color: rgb(30, 14, 98);
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
.team__member-prof {
    margin-top: 16px;
    color: rgba(21, 20, 57, 0.4);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.team__social-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #EBEAED;
}
.team__social-items .team__social-item:nth-child(2){
    border-right: 2px solid #EBEAED;
    border-left: 2px solid #EBEAED;
}
.team__social-item {
 padding: 20px 50px;
}
.team__social-link img{
    width: 20px;
    height: auto;
}

/* section team ends */
/* section news starts */

.news {
    margin-top: 110px;
}
.news__inner {
}
.news__content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 49px;
}
.news__content-img {
    max-width: 421px;
    height: auto;
}
.news__content-descr {
    font-family: "Roboto", sans-serif;
    padding-top: 26px;
}
.news__content-text {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.5px;
    text-align: left;
}
.news__content-form {
    margin-top: 51px;
}
.news__content-input {
    padding: 24px 67px 24px 67px;
    width: 100%;
    box-shadow: 0 2.77px 2.21px 0 rgba(0, 0, 0, 0.02),
                0 6.65px 5.32px 0 rgba(0, 0, 0, 0.03),
                0 12.52px 10.02px 0 rgba(0, 0, 0, 0.04),
                0 22.34px 17.87px 0 rgba(0, 0, 0, 0.04),
                0 41.78px 33.42px 0 rgba(0, 0, 0, 0.05),
                0 100px 80px 0 rgba(0, 0, 0, 0.07);
    border-radius: 49px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: 0%;
    text-align: left;
    outline: none;
}
.news__content-input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: 0%;
    text-align: left;
}
.news__content-btn {
    display: block;
    margin-top: 51px;
    background-color: #FF6600;
    padding: 9px 240px;
    color: #FFF;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.5px;
}

/* section news ends */